{% extends "base.html" %}


{% block content %}

    {# About #}
	<div class="mb-4">
		<div class="h4 mb-3">About</div>
		<p>Have you ever noticed that when you start typing something into Google it will attempt to autocomplete your query? This project uses those autocomplete suggestions to create a multi-level network graph from each query. For example, try the word <a href="{% url 'search:result' 'blueberry' %}">blueberry</a>.</p>
	</div>

    {# Stats #}
	<div class="mb-4">
		<div class="h4 mb-3">Network Stats</div>
		{##}
		<div class="row">
			{##}
			<div class="col">
				<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						Nodes <span>{{stats.nodes}}</span>
					</li>
				</ul>
			</div>
			{##}
			<div class="col">
				<ul class="list-group">
					<li class="list-group-item d-flex justify-content-between align-items-center">
						Edges <span>{{stats.edges}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

    {# Export #}
    {% comment %}
	<div class="mb-4">
		<div class="h4 mb-3">Export</div>
        <ul>
            <li><a href="">Pajek format</a> - Can be imported into a variety of network analysis tools, such as Gephi, NetworkX, NodeXL, Pajek, NetMiner, and Social Network Visualizer.</li>
        </ul>
    </div>
    {% endcomment %}

{% endblock %}


{% block js %}
    <script>

        // Show alert
        {% if alert %}
        alert.show('{{alert}}');
        {% endif %}
        
    </script>
{% endblock %}