{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block head %}

	{# Highlight.js #}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/atom-one-light.min.css" integrity="sha512-o5v54Kh5PH0dgnf9ei0L+vMRsbm5fvIvnR/XkrZZjN4mqdaeH7PW66tumBoQVIaKNVrLCZiBEfHzRY4JJSMK/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	{# Page CSS #}
	<link rel="stylesheet" href="{% static 'css/core/landing.css' %}">
	
{% endblock %}


{% block content %}

    {# About #}
	<div class="mb-4">
		<div class="h4 mb-3">About</div>
		<p>When you start typing something into Google have you noticed it will try to autocomplete your query? This project uses those suggestions to create a network graph from each search phrase. For example, try the word <a href="{% url 'search:results' 'blueberry' %}">blueberry</a>.</p>
		Some thoughts:
		<ol>
			<li>Humans type nearly everything they think about into Google.</li>
			<li>Google stores this data and uses it to offer better search suggestions.</li>
			<li>Therefore, it's possible to map the human psyche through the lens of Google.</li>
		</ol>
	</div>

	{# Statistics #}
	<hr>
	<div class="mb-4">
		{##}
		<div class="h4 mb-3">Statistics</div>
		{##}
		<div class="row row-cols-1 gy-1">
			{##}
			<div class="col">
				<div class="card border-0">
					<div class="card-body pb-0">
						<div class="h6">Network Size</div>
						<div class="small"></div>
					</div>
					<div class="chart-container">
						<canvas id="chart1"></canvas>
					</div>
				</div>
			</div>
			{##}
			<div class="col">
				<div class="card border-0">
					<div class="card-body pb-0">
						<div class="h6">Edge Completion</div>
						<div class="small"></div>
					</div>
					<div class="chart-container">
						<canvas id="chart2"></canvas>
					</div>
				</div>
			</div>
			{##}
			<div class="col">
				<div class="card border-0">
					<div class="card-body pb-0">
						<div class="h6">Edge Recency</div>
						<div class="small"></div>
					</div>
					<div class="chart-container">
						<canvas id="chart3"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% comment %}
		<div class="row row-cols-2 gx-3 gx-md-4">
			{% for stat_name, stat_value in stats.items %}
				<div class="col">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							{{stat_name}} <span>{{stat_value|intcomma}}</span>
						</li>
					</ul>
				</div>
			{% endfor%}
		</div>
	{% endcomment %}

    {# Data Access #}
	<hr>
	<div class="mb-5">
		<div class="d-flex justify-content-between mb-3">
			<div class="h4 mb-0">Data Access</div>
			<a href="{% url 'export:edgelist' %}" class="btn btn-outline-primary btn-sm" role="button">Download Edge List</a>
		</div>
		<ul class="mt-3">
			<li>
				<span class="export-tool">Gephi</span> - Select File/Import Spreadsheet, then import the table as "Edges Table".
			</li>
			<li>
				<span class="export-tool">Cytoscape</span> - Select File/Import/Network From File, then click "Advanced Options" and change the delimiter to space.
			</li>
			{% comment %}
			<li>
				<span class="export-tool">Pajek</span>
			</li>
			<li>
				<span class="export-tool">NetMiner</span>
			</li>
			{% endcomment %}
			<li>
				<span class="export-tool">Social Network Visualizer</span> - Open the file and when asked the type select "Edge List (weighted)".
			</li>
			<li>
				<span class="export-tool">NetworkX</span> - See example code below:
<pre><code class="language-python" style="margin-right:14px;"># Import NetworkX
import networkx as nx
# Read edgelist
edgelist = []
with open('edgelist.edges', encoding='utf-8') as f:
	reader = csv.reader(f, delimiter=' ')
	next(reader) # Skip header
	for row in reader:
		edgelist.append((row[0], row[1], {'weight': row[2]}))
# Make graph
G = nx.MultiDiGraph(edgelist)
</code></pre>	
			</li>
		</ul>

    </div>

{% endblock %}


{% block js %}

	{# Set debug flags #}
	{% if debug %}<script>const debug_mode = true;</script>{% else %}<script>const debug_mode = false;</script>{% endif %}

	{# Pass context data to javascript #}
	{{ chart_data|json_script:"chart_data" }}

    {# Moment and Chartjs #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

	{# Add hightlight.js for code formatting #}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js" integrity="sha512-z+/WWfyD5tccCukM4VvONpEtLmbAm5LDu7eKiyMQJ9m7OfPEDL7gENyDRL3Yfe8XAuGsS2fS4xSMnl6d30kqGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	{# Page-specific chart JS #}
	<script src="{% static 'js/core/chart_global_options.js' %}"></script>
	<script src="{% static 'js/core/landing.js' %}"></script>

	{# Page-specific JS #}
    <script>

		// Highlight code
		hljs.highlightAll();

        // Show alert
        {% if alert %}
        alert.show('{{alert}}');
        {% endif %}

    </script>

{% endblock %}