{% extends "base.html" %}
{% load humanize %}


{% block content %}

    {# About #}
	<div class="mb-4">
		<div class="h4 mb-3">About</div>
		<p>Have you ever noticed that when you start typing something into Google it will attempt to autocomplete your query? This project uses those autocomplete suggestions to create a multi-level network graph from each query. For example, try the word <a href="{% url 'search:results' 'blueberry' %}">blueberry</a>.</p>
	</div>

	{# Stats #}
	<div class="mb-4">
		<div class="h4 mb-3">Statistics</div>
		{##}
		<div class="row row-cols-2 gx-3 gx-md-4">
			{% for stat_name, stat_value in stats.items %}
				<div class="col">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							{{stat_name}} <span>{{stat_value|intcomma}}</span>
						</li>
					</ul>
				</div>
			{% endfor%}
		</div>
	</div>

    {# Export #}
	<div class="mb-4">
		<div class="d-flex justify-content-between mb-3">
			<div class="h4 mb-0">Data Access</div>
			<a href="{% url 'export:edgelist' %}" class="btn btn-outline-primary btn-sm" role="button">Download Edge List</a>
		</div>
		<ul class="mt-3">
			<li>
				Gephi - Select File/Import Spreadsheet, then import the table as "Edges Table". <a href="https://github.com/gephi/gephi/issues/796" target="_blank" rel="noopener">Instructions</a>
			</li>
			<li>NetworkX</li>
			<li>NodeXL</li>
			<li>Pajek</li>
			<li>NetMiner</li>
			<li>Social Network Visualizer - Open the file and when asked the type select "Edge List (weighted)".</li>
		</ul>

    </div>

{% endblock %}


{% block js %}
    <script>

        // Show alert
        {% if alert %}
        alert.show('{{alert}}');
        {% endif %}
        
    </script>
{% endblock %}