/*----------------------------------------------------------*/
/* Suggestion border radius */

.suggest-list > .col-lg-6 > .list-group-item:first-child,
.suggest-list .first .suggest-int-link {
	border-top-left-radius: 4px !important;
}

.suggest-list > .col-lg-6 > .list-group-item:first-child,
.suggest-list .first .suggest-ext-link {
	border-top-right-radius: 4px !important;
}

.suggest-list > .col-lg-6 > .list-group-item:last-child,
.suggest-list .last .suggest-int-link {
	border-bottom-left-radius: 4px !important;
}

.suggest-list > .col-lg-6 > .list-group-item:last-child,
.suggest-list .last .suggest-ext-link {
	border-bottom-right-radius: 4px !important;
}

/*----------------------------------------------------------*/
/* Suggestions */

.suggest-int-link {
	padding-left: .75rem; /* 12px */
	padding-right: 0rem;
}

.suggest-number {
    color: #bbb;
}

.suggest-ext-link {
	padding: .5rem .625rem; /* 8px, 10px */
	text-decoration: none;
	color: #ddd;
}

.suggest-ext-link:hover {
	color: #495057;
}

/* When hovering over suggestion, change bg on suggest-ext-link */
.list-group-item-action:hover + .suggest-ext-link {
    background-color: #f8f9fa;
}

/*----------------------------------------------------------*/
/* Graph */

#graph {
	height: 780px;
}

@media (max-width: 780px) {
	#graph {
		height: 750px;
	}
}

@media (max-width: 420px) {
	#graph {
		height: 560px;
	}
}

@media (max-width: 380px) {
	#graph {
		height: 490px;
	}
}

@media (max-width: 330px) {
	#graph {
		height: 410px;
	}
}