/*----------------------------------------------------------*/
/* BODY */

.suggest-number {
    color: #bbb;
}

.list-group-item:first-child .suggest-link {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.suggest-link {
	padding: .5rem;
	text-decoration: none;
	color: #ddd;
}

.suggest-link:hover {
	color: #495057;
}

/* When hovering over suggestion, change bg on suggest-link */
.list-group-item-action:hover + .suggest-link {
    background-color: #f8f9fa;
}

/*----------------------------------------------------------*/
/* Graph */

#graph {
	height: 780px;
}

@media (max-width: 780px) {
	#graph {
		height: 750px;
	}
}

@media (max-width: 420px) {
	#graph {
		height: 560px;
	}
}

@media (max-width: 380px) {
	#graph {
		height: 490px;
	}
}

@media (max-width: 330px) {
	#graph {
		height: 410px;
	}
}